
<div class="d-flex flex-row">
    <div class="">
        <%= render 'shared/left-nav'%>
    </div>
    <main class="d-flex flex-column main">
        <div>
            <%= render 'shared/top-nav'%>
        </div>
        <div class="d-flex flex-column">
            <% if check_photo %>
            <div class=d-flex flex-column>
                <p class="text-primary ">Complete your profile</p>
                <%= link_to 'click here', edit_user_registration_path, class: "text-danger ml-1" %>
            </div>
            <% end %>
            <div class="main-content d-flex flex-row">
                <%= render 'shared/opinion'%>
                <%= render 'shared/who-to'%>
            </div>
        </div>
    </main>
</div>